<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Calculate accelerated pay-off with varying principle payments" />
    <meta name="keywords" content="mortgage calulator, amortization calculator, early loan pay off, early mortgage pay off, accelerated mortgage calculator, accelerated loan calculator, best mortgage calulator, best amortization calculator, best accelerated mortgage calculator, best accelerated loan calculator" />
    <title>LoanBender</title>
    <link href="/Content/Main.css" rel="stylesheet" />
    <link href="/Content/themes/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    <script type="text/javascript" src="/Scripts/jquery/ui/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap/bootstrap.js"></script>

</head>
<body>
    <div class="body">
        @RenderBody()
    </div>

</body>
</html>
