@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<input type="hidden" id="hdnStartMonth" />
<input type="hidden" id="hdnCurrentDate" />
<input type="hidden" id="hdnIntFrac" />
<input type="hidden" id="hdnLoanAmount" />
<input type="hidden" id="hdnTermOfLoan" />
<input type="hidden" id="hdnTaxAndIns" />
<input type="hidden" id="hdnAdjustment" />

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32063802-2']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker();
        $('.dropdown-toggle').dropdown();
        $("#accordion").accordion({ heightStyle: "content", autoHeight: false, collapsible: true, active: false });
        $("#progressBarWrapper").hide()
        $("#progressBar").progressbar({ disabled: false, value: false });
    });
</script>

<div class="container">
    <div style="padding: 0 15px;">
        <div class="row">
            <div class="col-xs-12"> &nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-md hidden-sm hidden-xs ">
                <div id="leftSkyscraper" class="skyscraper">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Loanbender - Left -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-5222348008135421"
                         data-ad-slot="8165366002"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1 col-lg-offset-0 col-lg-7" role="main">
                @Html.Partial("Cached")
                <div class="row">
                    <div class="col-xs-12" id="divDataTableContainer"></div>
                </div>
            </div>
            <div class="col-md-2  col-lg-3 hidden-sm hidden-xs ">
                <div id="rightSkyscraper" class="skyscraper">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Loanbender - Right -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-5222348008135421"
                         data-ad-slot="9642099204"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
